body {
  font-family: 'Space Mono', monospace;
  background: #f2f2f2;
}
td, p {
  font-family: sans-serif;
}
input {
  border: none;
  padding: 10px;
  margin: 10px;
  height: 20px;
  border:1px solid #eaeaea;
  outline:none;
}
input:hover {
  border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus {
  border-color:#4d90fe;
}
input[type="submit"] {
  border-radius: 2px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #757575;
  cursor: default;
  font-size: 14px;
  font-weight: bold;
  width: 100px;
  padding: 0 16px;
  height:36px;
}
input[type="submit"]:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}
input[type="text"], input[type="date"], input[type="number"], select, textarea {
  width: 100%;
}
input[type="date"], input[type="number"], select {
  height: 30px;
}
input[type="text"] {
  height: 30px;
}
label {
  display: block !important;
  margin-top: 20px;
}
h4 {
  margin-top: 0;
}
textarea {
  resize: none;
}

#info-buttons div {
  cursor: default;
}
#nav-bar {
  background-color: black;
  width: 100vw;
  position: fixed;
}
#nav-bar > .container {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#welcome-page {
  text-align: center;
  height: 100vh;
}
#database > .container {
  margin-top: 5vh;
}
#add-lookup-page {
  height: 100vh;
  display: flex;
  text-align: center;
  background-color: #fafafa;
}
#add-lookup-page > .container {
  padding-top: 50vh;
}
#add-entry-nav div {
  background: #bcbcbc;
  border-top: 10px solid #bcbcbc;
  border-bottom: 10px solid #bcbcbc;
  color: white;
}
#add-entry-nav .nav-selected {
  background: black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  color: white;
}
#add-entry-nav div:hover {
  background: #999999;
  border-top: 10px solid #999999;
  border-bottom: 10px solid #999999;
  color: white;
}
#add-entry-nav .nav-selected:hover {
  background: black;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  color: white;
}
#button-container {
  margin-top: 2vh;
}
#generate-report-button {
  margin-top: 30px;
}
.page-content {
  padding-top: 14vh;
}
.alignment {
  text-align: right;
}
.anchor-pts {
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
}
a.anchor-pts:hover {
  color: white;
}
.basic-search-input {
  width: 500px !important;
}
.navlinks {
  margin-top: 4px;
}
.navlinks a{
  margin-left: 30px;
  font-size: 12px;
  text-transform: uppercase;
}
.inline-block {
  display: inline-block !important;
}
.basic-search {
  text-align: center;
}
.button {
  background: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.gray-background {
  background: #898989;
}
.container-wide {
  width: 94% !important;
}
.table {
  background: white;
  overflow-y: auto;
}
.database-table {
  height: 60vh;
  overflow-y: scroll;
}
.add-entry-nav {
  display: inline;
}
.add-entry-block {
  border: 1px solid #bcbcbc;
  height: 60vh;
  margin-top: 30px;
  margin-left: -15px;
  margin-right: -15px;
  overflow: scroll;
  display: none;
}
.block-selected {
  display: block;
}
.add-another-button {
  margin-top: 30px;
}
.divider {
  width: 100%;
  height: 1px;
  background: #bcbcbc;
  margin-top: 50px;
  margin-bottom: 50px;
}
.home-table {
  margin-top: 15px !important;
}
