{% extends 'snippets/nav.html'%}
  {% block content %}
  <div class="container page-content">
    <div id="add-entry-nav" class="row">
      <center id="info-buttons">
        <div class="col-xs-2 nav-selected" id="case-info-button">
          Case Info
        </div>
        <div class="col-xs-2" id="binder-info-button">
          Binder Info
        </div>
        <div class="col-xs-2" id="district-info-button">
          District Info
        </div>
        <div class="col-xs-2" id="victims-info-button">
          Victims
        </div>
        <div class="col-xs-2" id="suspects-info-button">
          Suspects
        </div>
        <div class="col-xs-2" id="crime-info-button">
          Crime Info
        </div>
      </center>
    </div>
    <form id="form-info">
      <div class="add-entry-block block-selected" id="case-info-entry">
        <div class='col-sm-12 col-md-6'>
          <label>DR Number</label>
          <input type='text'>

          <label>Court Case Number</label>
          <input type='text'>

          <label>Case Status</label>
          <select>
            <option value="AA">Adult Arrest</option>
            <option value="JA">Juvenile Arrest</option>
            <option value="AO">Adult Other</option>
            <option value="JA">Juvenile Arrest</option>
            <option value="IC">Investigation Continued</option>
          </select>

          <label>Motive</label>
          <input type='text'>

          <label>Case Adjudication</label>
          <input type='text'>

        </div>
        <div class='col-sm-12 col-md-6'>
          <label>Date Fully Reviewed</label>
          <input type='text'>

          <label>Status Date</label>
          <input type='date'>

          <label>Solvability Factor</label>
          <input type='number'>

          <label>Evidence Destroyed</label>
          <input type='radio'> Yes
          <input type='radio'> No

          <label>Notes</label>
          <textarea></textarea>
        </div>
      </div>
      <div class="add-entry-block row" id="binder-info-entry">
        <div class='col-sm-12 col-md-6'>
          <label>Master DR</label>
          <input type='text'>
        </div>
        <div class='col-sm-12 col-md-6'>
          <label>Check Out Date</label>
          <input type='date'>
        </div>
      </div>
      <div class="add-entry-block row" id="district-info-entry">
        <div class='col-sm-12 col-md-6'>
          <label>Division</label>
          <input type='text'>
          <label>Reporting District</label>
          <input type='text'>
        </div>
        <div class='col-sm-12 col-md-6'>
          <label>Bureau</label>
          <input type='date'>
        </div>
      </div>
      <div class="add-entry-block row" id="victims-info-entry">
        <div class="add-another-block">
          <div class='col-sm-12 col-md-6'>
            <label>First Name</label>
            <input type='text'>

            <label>Age</label>
            <input type='number'>

            <label>Ethnicity</label>
            <select>
              <option value="AA">White</option>
              <option value="AA">Hispanic</option>
              <option value="AA">Black or African American</option>
              <option value="AA">Asian</option>
              <option value="AA">American Indian or Alaska Native</option>
              <option value="AA">Middle Eastern</option>
              <option value="AA">Pacific Islander</option>
              <option value="AA">Other</option>
            </select>
          </div>
          <div class='col-sm-12 col-md-6'>
            <label>Last Name</label>
            <input type='text'>

            <label>Sex</label>
            <input type='radio'>Male
            <input type='radio'>Female

            <label>Description</label>
            <textarea></textarea>
          </div>
        </div>
        <center class="button-container" id="add-entry-button">
          <div class="button inline-block gray-background add-another-button">+ Add Another</div>
        </center>
      </div>

      <div class="add-entry-block row" id="suspects-info-entry">
        <div class="add-another-block">
          <div class='col-sm-12 col-md-6'>
            <label>First Name</label>
            <input type='text'>

            <label>Age</label>
            <input type='number'>

            <label>Ethnicity</label>
            <select>
              <option value="AA">White</option>
              <option value="AA">Hispanic</option>
              <option value="AA">Black or African American</option>
              <option value="AA">Asian</option>
              <option value="AA">American Indian or Alaska Native</option>
              <option value="AA">Middle Eastern</option>
              <option value="AA">Pacific Islander</option>
              <option value="AA">Other</option>
            </select>
          </div>
          <div class='col-sm-12 col-md-6'>
            <label>Last Name</label>
            <input type='text'>

            <label>Sex</label>
            <input type='radio'>Male
            <input type='radio'>Female

            <label>Description</label>
            <textarea></textarea>
          </div>
        </div>
        <center class="button-container" id="add-entry-button">
          <div class="button inline-block gray-background add-another-button">+ Add Another</div>
        </center>
      </div>
      <div class="add-entry-block row" id="crime-info-entry">
        <div class='col-sm-12 col-md-6'>
          <label>Coroner Case Number</label>
          <input type='text'>

          <label>Crime Address</label>
          <input type='text'>

          <label>Date Reported</label>
          <input type='date'>
        </div>
        <div class='col-sm-12 col-md-6'>
          <label>Weapon</label>
          <input type='text'>

          <label>Crime Committed</label>
          <input type='text' placeholder="Default: Murder">

          <label>Date Occurred</label>
          <input type='date'>
        </div>
      </div>
    </form>
    <center class="button-container" id="add-entry-button">
      <div class="button inline-block">Add Entry</div>
    </center>
  </div>
  {% endblock %}
