{% extends "snippets/nav.html"%}
  {% block content %}
    <form action="" method="post">
      {% csrf_token %}

      <div class="container page-content">
        <div id="add-entry-nav" class="row">
          <center id="info-buttons">
            <div class="col-xs-2 nav-selected" id="case-info-button">
              Case Info
            </div>
            <div class="col-xs-2" id="binder-info-button">
              Binder Info
            </div>
            <div class="col-xs-2" id="district-info-button">
              District Info
            </div>
            <div class="col-xs-2" id="victims-info-button">
              Victims
            </div>
            <div class="col-xs-2" id="suspects-info-button">
              Suspects
            </div>
            <div class="col-xs-2" id="crime-info-button">
              Crime Info
            </div>
          </center>
        </div>

        <div class="add-entry-block block-selected" id="case-info-entry">
          <div class="col-sm-12 col-md-6">
            <label>DR Number</label>
            <input type="text" class="form-control" id="case-dr_nbr" name="case-dr_nbr">

            <label>Court Case Number</label>
            <input type="text" class="form-control" id="case-court_case_number" name="case-court_case_number">

            <label>Case Status</label>
            <select class="form-control" id="case-status" name="case-status" required="">
              <option value="" selected="">----------------</option>
              <option value="AA">Adult Arrest</option>
              <option value="JA">Juvenile Arrest</option>
              <option value="AO">Adult Other</option>
              <option value="JO">Juvenile Arrest</option>
              <option value="IC">Investigation Continued</option>
            </select>

            <label>Motive</label>
            <input type="text" class="form-control" id="case-motive" name="case-motive">

            <label>Case Adjudication</label>
            <input type="text" class="form-control" id="case-adjudication" name="case-adjudication">

          </div>
          <div class="col-sm-12 col-md-6">
            <label>Date Fully Reviewed</label>
            <input type="text" class="form-control" id="case-date_fully_reviewed" name="case-date_fully_reviewed">

            <label>Status Date</label>
            <input type="date" class="form-control" id="case-status_date" name="case-status_date">

            <!-- <label>Solvability Factor</label>
            <input type="number" class="form-control" id="case-solvability_factor"> -->

            <label>Evidence Destroyed</label>
            <span class="radio-input"><input type="radio" id="case-evidence_destroyed" name="case-evidence_destroyed"><span>Yes</span></span>
            <span class="radio-input"><input type="radio" id="case-evidence_destroyed" name="case-evidence_destroyed"><span>No</span></span>

            <label>Notes</label>
            <textarea class="form-control" id="case-notes" name="case-notes"></textarea>
          </div>
        </div>

        <div class="add-entry-block row" id="binder-info-entry">
          <div class="col-sm-12 col-md-6">
            <label>Master DR</label>
            <input type="text" class="form-control" id="binder-master_dr" name="binder-master_dr" />
          </div>
          <div class="col-sm-12 col-md-6">
            <label>Check Out Date</label>
            <input type="date" class="form-control" id="binder-check_out_date" name="binder-check_out_date" />
          </div>
        </div>

        <div class="add-entry-block row" id="district-info-entry">
            <div class="col-sm-12 col-md-6">
              <label>Division</label>
              <input type="text" class="form-control" id="district-division" name="district-division" />
              <label>Reporting District</label>
              <input type="text" class="form-control" id="district-reporting_district" name="district-reporting_district" />
            </div>
            <div class="col-sm-12 col-md-6">
              <label>Bureau</label>
              <input type="text" class="form-control" id="district-bureau" name="district-bureau" />
            </div>
          </div>

          <div class="add-entry-block row" id="victims-info-entry">
            <div class="add-another-block">
              <div class="col-sm-12 col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" id="victim-first_name" name="victim-first_name">

                <label>Age</label>
                <input type="number" class="form-control" id="victim-age" name="victim-age">

                <label>Ethnicity</label>
                <select class="form-control" id="victim-ethnicity" name="victim-ethnicity">
                  <option value="" selected="">----------------</option>
                  <option value="W">White</option>
                  <option value="H">Hispanic</option>
                  <option value="B">Black or African American</option>
                  <option value="A">Asian</option>
                  <option value="AI">American Indian or Alaska Native</option>
                  <option value="ME">Middle Eastern</option>
                  <option value="PI">Pacific Islander</option>
                  <option value="O">Other</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" id="victim-last_name" name="victim-last_name">

                <label>Sex</label>
                <span class="radio-input"><input type="radio" id="victim-sex" name="victim-sex" value="M"><span>Male</span></span>
                <span class="radio-input"><input type="radio" id="victim-sex" name="victim-sex" value="F"><span>Female</span></span>

                <label>Description</label>
                <textarea class="form-control" id="victim-description" name="victim-description"></textarea>
              </div>
            </div>
            <center class="button-container" id="add-entry-button">
              <div class="button inline-block gray-background add-another-button">+ Add Another</div>
            </center>
          </div>

          <div class="add-entry-block row" id="suspects-info-entry">
            <div class="add-another-block">
              <div class="col-sm-12 col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" id="suspect-first_name" name="suspect-first_name">

                <label>Age</label>
                <input type="number" class="form-control" id="suspect-age" name="suspect-age">

                <label>Ethnicity</label>
                <select class="form-control" id="suspect-ethnicity" name="suspect-ethnicity">
                  <option value="" selected="">----------------</option>
                  <option value="W">White</option>
                  <option value="H">Hispanic</option>
                  <option value="B">Black or African American</option>
                  <option value="A">Asian</option>
                  <option value="AI">American Indian or Alaska Native</option>
                  <option value="ME">Middle Eastern</option>
                  <option value="PI">Pacific Islander</option>
                  <option value="O">Other</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" id="suspect-last_name" name="suspect-last_name">

                <label>Sex</label>
                <span class="radio-input"><input type="radio" id="suspect-sex" name="suspect-sex" value="M"><span>Male</span></span>
                <span class="radio-input"><input type="radio" id="suspect-sex" name="suspect-sex" value="F"><span>Female</span></span>

                <label>Description</label>
                <textarea class="form-control" id="suspect-description" name="suspect-description"></textarea>
              </div>
            </div>
            <center class="button-container" id="add-entry-button">
              <div class="button inline-block gray-background add-another-button">+ Add Another</div>
            </center>
          </div>

          <div class="add-entry-block row" id="crime-info-entry">
            <div class="col-sm-12 col-md-6">
              <label>Coroner Case Number</label>
              <input type="number" class="form-control" id="event-coroner_case_number" name="event-coroner_case_number">

              <label>Crime Address</label>
              <input type="text" class="form-control" id="event-address" name="event-address">

              <label>Date Reported</label>
              <input type="date" class="form-control" id="event-date_reported" name="event-date_reported">
            </div>
            <div class="col-sm-12 col-md-6">
              <label>Weapon</label>
              <input type="text" class="form-control" id="event-weapon" name="event-weapon">

              <label>Crime Committed</label>
              <input type="text" class="form-control" placeholder="Default: Murder" id="event-crime_committed" name="event-crime_committed">

              <label>Date Occurred</label>
              <input type="date" class="form-control" id="event-date_occurred" name="event-date_occurred">
            </div>
          </div>
        <center class="button-container" id="add-entry-button">
          <input class="button inline-block" type="submit" value="Add Entry" />
        </center>
      </div>
  </form>
{% endblock %}
