{% extends "snippets/nav.html"%}
  {% block content %}
    <div class="container page-content">

      <div class="row">
        <div class="another-filter-block">
          <div class="col-xs-4" id="table-op">
            <label>Table</label>
            <select class="form-control" id="table-sel" name="tableSel" data="table" >
              <option value="Case">Case</option>
              <option value="Binder">Binder</option>
              <option value="District">District</option>
              <option value="Person">Person</option>
              <option value="Event">Event</option>
            </select>
          </div>

          <div class="col-xs-4" id="field-op">
            <label>Field</label>

            {% if tableSel.value == 'Case' %}
              <select class="form-control" id="case-sel">
                <option value="DR Number">DR Number</option>
                <option value="Court Case Number">Court Case Number</option>
                <option value="Case Status">Case Status</option>
                <option value="Motive">Motive</option>
                <option value="Notes">Notes</option>
              </select>
            {% else %}
                &#8212; html(tableSel.value)
            {% endif %}



            <select class="form-control" id="binder-sel">
              <option value="Master DR">Master DR</option>
            </select>

            <select class="form-control" id="district-sel">
              <option value="Division">Division</option>
              <option value="Bureau">Bureau</option>
              <option value="Reporting District">Reporting District</option>
            </select>

            <select class="form-control" id="person-sel">
              <option value="First Name">First Name</option>
              <option value="Last Name">Last Name</option>
              <option value="Age">Age</option>
              <option value="Ethnicity">Ethnicity</option>
              <option value="Sex">Sex</option>
              <option value="Description">Description</option>
            </select>

            <select class="form-control" id="event-sel">
              <option value="Coroner Case Number">Coroner Case Number</option>
              <option value="Weapon">Weapon</option>
              <option value="Crime Address">Crime Address</option>
              <option value="Crime Committed">Crime Committed</option>
            </select>

          </div>

          <div class="col-xs-4" id="key-op">
            <label>Keyword</label>

            <select class="form-control pull-left" id="alg-sel" style="width:30%;">
              <option value="equals">=</option>
              <option value="greater-than">></option>
              <option value="less-than"><</option>
            </select>
            <input type='text' class="form-control pull-right" id="keyword" style="width:65%;">

            <input type='text' class="form-control pull-right" id="keyword" style="width:100%;">

            <select class="form-control pull-left" id="alg-sel" style="width:100%;">
              <option value="AA">Adult Arrest</option>
              <option value="JA">Juvenile Arrest</option>
              <option value="AO">Adult Other</option>
              <option value="JO">Juvenile Other</option>
              <option value="IC">Investigation Continued</option>
            </select>

            <select class="form-control pull-left" id="alg-sel" style="width:100%;">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>

            <select class="form-control pull-left" id="alg-sel" style="width:100%;">
              <option value="t">True</option>
              <option value="f">False</option>
            </select>

          </div>
        </div>

        <center class="button-container" id="add-filter-button">
          <div class="button inline-block gray-background plus-filter-button">+ Add Filter</div>
        </center>
      </div>

      <div class="row">
        <div id="database">
          <div class="container container-wide database-table home-table">
            <table class="table table-striped table-hover table-responsive">
              <thead>
                <tr>
                  <th>MASTER DR</th>
                  <th>VICTIMS</th>
                  <th>SUSPECTS</th>
                  <th>DATE OCCURED</th>
                </tr>
              </thead>
              <tbody>
                {% for case in cases %}
                  <tr onclick="window.location.href = '/detail/{{ case.dr_nbr }}';">
                    <td>
                      {% if case.dr_nbr %}
                        {{ case.dr_nbr }}
                      {% else %}
                          &#8212;
                      {% endif %}
                    </td>
                    <td>
                      {% for victim in case.victims.all %}
                        {% if victim.first_name and victim.last_name %}
                          {{ victim.first_name }} {{ victim.last_name }}{% include "snippets/list_comma.html" %}
                        {% else %}
                          &#8212;
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td>
                      {% for suspect in case.suspects.all %}
                        {% if suspect.first_name and suspect.last_name %}
                          {{ suspect.first_name }} {{ suspect.last_name }}{% include "snippets/list_comma.html" %}
                        {% else %}
                          &#8212;
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td>
                      {% for case in case.events.all %}
                        {% if case.date_occurred %}
                          {{ case.date_occurred }}
                        {% else %}
                          &#8212;
                        {% endif %}
                      {% endfor %}
                     </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
