{% extends 'snippets/nav.html'%}
  {% block content %}
  <div class="container page-content">
    <div id="add-entry-nav" class="row">
      <center id="info-buttons">
        <div class="col-xs-2 nav-selected" id="case-info-button">
          Case Info
        </div>
        <div class="col-xs-2" id="binder-info-button">
          Binder Info
        </div>
        <div class="col-xs-2" id="district-info-button">
          District Info
        </div>
        <div class="col-xs-2" id="victims-info-button">
          Victims
        </div>
        <div class="col-xs-2" id="suspects-info-button">
          Suspects
        </div>
        <div class="col-xs-2" id="crime-info-button">
          Crime Info
        </div>
      </center>
    </div>
    <div class="add-entry-block block-selected" id="case-info-entry">
      <form>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="exampleInputEmail1">DR Number</label>
            <input class="form-control" id="dr-input" placeholder="Enter DR#">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Court Case#</label>
            <input class="form-control" id="court-case-num-input" placeholder="Enter Court Case#">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Date Fully Reviewed</label>
            <input class="form-control" id="date-rev-input" placeholder="Enter Date Reviewed">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Case Adjudication</label>
            <input class="form-control" id="adj-input" placeholder="Enter Case Adjudication">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Evidence Destroyed</label>
            <input class="form-control" id="evid-input" placeholder="Enter if Evidence Destroyed">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Status</label>
            <input class="form-control" id="status-input" placeholder="Enter Status">
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Status Date</label>
            <input class="form-control" id="st-date-input" placeholder="Enter Status Date">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Motive</label>
            <input class="form-control" id="motive-input" placeholder="Enter Motive">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Solvability Factor</label>
            <input class="form-control" id="solvability-input" placeholder="Enter Solvability Factor">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Notes</label>
            <input class="form-control" id="notes-input" placeholder="Enter Notes">
          </div>
        </div>
      </form>
    </div>
    <div class="add-entry-block" id="binder-info-entry">
      <form>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Master DR#</label>
            <input class="form-control" id="mdr-input" placeholder="Enter Master DR#">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Check Out Date</label>
            <input class="form-control" id="check-out-input" placeholder="Enter Check Out Date">
          </div>
        </div>
      </form>
    </div>
    <div class="add-entry-block" id="district-info-entry">
      <form>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Division </label>
            <input class="form-control" id="division-input" placeholder="Enter Division">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Bureau</label>
            <input class="form-control" id="bureau-input" placeholder="Enter Bureau">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Reporting District</label>
            <input class="form-control" id="bureau-input" placeholder="Enter Reporting District">
          </div>
        </div>
      </form>
    </div>
    <div class="add-entry-block" id="victims-info-entry">
      Victims Info
    </div>
    <div class="add-entry-block" id="suspects-info-entry">
      Suspects Info
    </div>
    <div class="add-entry-block" id="crime-info-entry">
      Crime Info
    </div>
    <center id="button-container">
      <div class="button inline-block">Search</div>
    </center>
  </div>
  {% endblock %}
