<!--TODO: The shit bleeds through the nav bar. Make the p tags editable. -->
{% extends 'snippets/nav.html' %}
  {% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="container" style="padding-top: 8vh;">
      <h3>Case Entry Details</h3>
    </div>
    <hr width="100%" style="margin-top: 0px;">
    <div class="container">

      <div class="panel panel-default">
        <div class="panel-heading">
          Case Info
          <a id="case-edit">edit</a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <p>DR Number</p>
              <p>Court Case Number</p>
              <p>Date Fully Reviewed</p>
              <p>Motive</p>
              <p>Adjudication</p>
              <p>Status</p>
              <p>Status Date</p>
              <p>Evidence Destroyed</p>
              <p>Notes</p>
            </div>
            <div class="col-md-8 detail-input" id="case-input">
              <input type="text" class='form-control' id="case-dr_nbr" name="case-dr-nbr" value={{case_form.dr_nbr}} readonly>
              <input type="text" class='form-control' id="case-court_case_number" name="case-court_case_number" value={{case_form.court_case_number}} readonly>
              <input type="text" class='form-control' id="case-date_fully_reviewed" name="case-date_fully_reviewed" value='{{case_form.date_fully_reviewed}}' readonly>
              <input type="text" class='form-control' id="case-motive" name="case-motive" value={{case_form.motive}} readonly>
              <input type="text" class='form-control' id="case-adjudication" name="case-adjudication" value={{case_form.adjudication}} readonly>

              <select class="form-control" id="case-status" name="case-status" required="" disabled>
                <option value="" selected="">{{case_form.status}}</option>
                <option value="AA">Adult Arrest</option>
                <option value="JA">Juvenile Arrest</option>
                <option value="AO">Adult Other</option>
                <option value="JO">Juvenile Arrest</option>
                <option value="IC">Investigation Continued</option>
              </select>

              <input type="text" class='form-control' id="case-status_date" name="case-status_date" value='{{case_form.status_date}}' readonly>

              <select class="form-control" id="case-evidence_destroyed" name="case-evidence_destroyed" required="" disabled>
                <option value="" selected="" id="evidence_destroyed_input">{{case_form.evidence_destroyed}}</option>
              </select>

              <input type="text" class='form-control' id="case-notes" name="case-notes" value={{case_form.notes}} readonly>
            </div>
          </div>
        </div>
      </div>
      <hr width="100%">

      <div class="panel panel-default">
        <div class="panel-heading">
          Binder Info
          <a id="binder-edit">edit</a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <p>MDR Number</p>
              <p>Last Check Out Date</p>
            </div>
            <div class="col-md-8 detail-input" id="binder-input">
              <input type="text" class='form-control' value={{binder_form.master_dr}} readonly>
              <input type="text" class='form-control' value='{{binder_form.check_out_date}}' readonly>
            </div>
          </div>
        </div>
      </div>
      <hr width="100%">

      <div class="panel panel-default">
        <div class="panel-heading">
          District Info
          <a id="district-edit">edit</a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <p>District Bureau</p>
              <p>District Division</p>
              <p>District Reporting District</p>
            </div>
            <div class="col-md-8 detail-input" id="district-input">
              <input type="text" class='form-control' value={{district_form.bureau}} readonly>
              <input type="text" class='form-control' value={{district_form.division}} readonly>
              <input type="text" class='form-control' value={{district_form.reporting_district}} readonly>
            </div>
          </div>
        </div>
      </div>
      <hr width="100%">

      <div class="panel panel-default">
        <div class="panel-heading">
          Victims Info
          <a>edit</a>
        </div>
        <div class="panel-body">
          Victims Info body
        </div>
      </div>
      <hr width="100%">

      <div class="panel panel-default">
        <div class="panel-heading">
          Suspects Info
          <a>edit</a>
        </div>
        <div class="panel-body">
          Suspects Info body
        </div>
      </div>
      <hr width="100%">

      <div class="panel panel-default">
        <div class="panel-heading">
          Crime Info
          <a id="crime-edit">edit</a>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <p>Date Occurred</p>
              <p>Date Reported</p>
              <p>Address</p>
              <p>Weapon</p>
              <p>Crime Committed</p>
              <p>Coroner Case Number</p>
            </div>
            <div class="col-md-8 detail-input" id="crime-input">
              <input type="text" class='form-control' value='{{event_form.date_occurred}}' readonly>
              <input type="text" class='form-control' value='{{event_form.date_reported}}' readonly>
              <input type="text" class='form-control' value='{{event_form.address}}' readonly>
              <input type="text" class='form-control' value={{event_form.weapon}} readonly>
              <input type="text" class='form-control' value={{event_form.crime_committed}} readonly>
              <input type="text" class='form-control' value={{event_form.coroner_case_number}} readonly>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endblock %}
