{% extends "snippets/nav.html"%}
  {% block content %}
  <div class="page-content">
    <div class="container">
      <div class="row alignment">
        <div class="col-xs-3">
          <div class="button inline-block" id="generate-report-button">Generate Report</div>
        </div>
        <div class="col-xs-9">
          <div id="search-bar">
            <input type="text" class="basic-search-input form-control inline-block" placeholder="Search Master DR, Victims, Suspects, or Date Occured">
            <div class="button inline-block">Search</div>
          </div>
        </div>
      </div>
    </div>

    <div id="database">
      <div class="container container-wide database-table home-table">
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>MASTER DR</th>
              <th>VICTIMS</th>
              <th>SUSPECTS</th>
              <th>DATE OCCURED</th>
            </tr>
          </thead>
          <tbody>
            {% for case in cases %}
              <tr onclick="window.location.href = '/detail/{{ case.dr_nbr }}';">
                <td>{{ case.dr_nbr }}</td>
                <td>
                  {% for victim in case.victims.all %}
                    {{ victim.first_name }} {{ victim.last_name }}{% include "snippets/list_comma.html" %}
                  {% endfor %}
                </td>
                <td>
                  {% for suspect in case.suspects.all %}
                    {{ suspect.first_name }} {{ suspect.last_name }}{% include "snippets/list_comma.html" %}
                  {% endfor %}
                </td>
                <td>
                  {% for case in case.events.all %}
                    {{ case.date_occurred }}
                  {% endfor %}
                 </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!--
    <center class="button-container" id="add-entry-button">
      <div class="gray-background button inline-block" id="generate-report-button">Generate Report</div>
    </center>
  -->
  </div>

  {% endblock %}
