{% extends "snippets/nav.html"%}
  {% block content %}
  <div class="page-content">
    <div class="container">
      <div class="row alignment">
        <div class="col-md-2">
          <div class="button" id="generate-report-button">Generate Report</div>
        </div>
        <div class="col-md-2">
          <form id="upload-form">
            {% csrf_token %}
            <input type="file" id="upload-file-button-hidden" accept=".xlsx">
            <div class="button" id="upload-file-button" type="submit">Upload Excel File...</div>
          </form>
        </div>
        <div class="col-md-8">
            <input type="text" class="basic-search-input form-control inline-block" id="search-val" placeholder="Search Master DR, Victims, Suspects, or Date Occured">
            <div class="button pull-right inline-block" id="search-button">Search</div>
        </div>
      </div>
    </div>

    <div id="database">
      <div class="container container-wide database-table home-table">
        <table class="table table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th>MASTER DR</th>
              <th>VICTIMS</th>
              <th>SUSPECTS</th>
              <th>DATE OCCURED</th>
            </tr>
          </thead>
          <tbody>
            {% for case in cases %}
              <tr onclick="window.location.href = '/detail/{{ case.dr_nbr }}';">
                <td>
                  {% if case.dr_nbr %}
                    {{ case.dr_nbr }}
                  {% else %}
                      &#8212;
                  {% endif %}
                </td>
                <td>
                  {% for victim in case.victims.all %}
                    {% if victim.first_name and victim.last_name %}
                      {{ victim.first_name }} {{ victim.last_name }}{% include "snippets/list_comma.html" %}
                    {% else %}
                      &#8212;
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for suspect in case.suspects.all %}
                    {% if suspect.first_name and suspect.last_name %}
                      {{ suspect.first_name }} {{ suspect.last_name }}{% include "snippets/list_comma.html" %}
                    {% else %}
                      &#8212;
                    {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for case in case.events.all %}
                    {% if case.date_occurred %}
                      {{ case.date_occurred }}
                    {% else %}
                      &#8212;
                    {% endif %}
                  {% endfor %}
                 </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!--
    <center class="button-container" id="add-entry-button">
      <div class="gray-background button inline-block" id="generate-report-button">Generate Report</div>
    </center>
  -->
  </div>

  {% endblock %}
