<!DOCTYPE html>
<head>
  <title>CrookBook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <!-- Styles -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{% static "styles/styles.css" %}">
  <link rel="stylesheet" href= "{% static "styles/bootstrap.min.css" %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>
  <div id="nav-bar">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <a class="anchor-pts" href="/"><img src="{% static "images/logo.svg" %}" width="150px"></a>
        </div>
        <div class="col-xs-8 alignment navlinks">
          <a class="anchor-pts" href="advancedSearch">Advanced Search</a>
          <a class="anchor-pts" href="/add">Add Entry</a>
        </div>
      </div>
    </div>
  </div>
  {% block content %}

  {% endblock %}
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
